.input{
padding: 5px 20px;
border: 1px solid black;
border-radius: 50px;
margin-top: 15px;
margin-bottom: 15px;
}
.input:focus{
    outline: none;
    border-color: blue;
}
.btn{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: blue;
    color: white;
    cursor: pointer;
    margin-right: 10px;

}
.error-text{
    color: red;
    font-size: 12px;
    margin-top: 5px;
    padding-left: 18px;
}



.btn-disabled{
    background-color: #cccc;
    cursor: not-allowed;
}